.container {
    margin-top: 200px;
    margin-bottom: 150px;
    display: grid;
    flex-wrap: wrap;

}

@media (max-width: 992px) {
    .appContainer {
        padding-top: 10rem;
        display: grid;
        flex-wrap: wrap;
    }
}

