.app {
    margin-top: 20rem;
}

.paletaColor {
    background-color: rgba(77, 77, 77, 0.1);
}

.botonComprar {
    position: absolute;
    bottom: 30px;
    left: 10px;
}

#interior_tarjeta:hover {
    background-color: #4D4D4D;
    color: #EBEBEB
}

.container-fluid {
    padding-top: 100px;
    padding-bottom: 20px;
}

@media (max-width: 1330px) {
    .margin-footer {
        /*margin-bottom: 250px;*/
        padding: 40rem 0 1vh 0;

    }
}

@media (max-width: 768px) {
    .app {
        margin-top: 150rem;
    }
}



.card-description {
    text-align: start;
}


.nombreProducto {
    min-height: 50px;
}

.card-description {
    min-height: 50px;
    justify-content: start;
    align-items: start;
}